#cloudyne {
  #cloudyne-wrapper {
    justify-content: center;
    row-gap: 20px;
    column-gap: 60px;
  }
  p {
    margin-bottom: 20px;
  }
  h2 {
    font-size: 18px;
    margin-left: 3em;
    position: relative;
    top: 5px;
  }
  div {
    span {
      &:first-of-type {
        position: absolute;
        opacity: 0.5;

        left: 15px;
        font-size: 28px;
        top: 0px;
      }
    }
  }
  .cloud-project {
    position: relative;
    width: 500px;
  }
  .cloud-project-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .cloud-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0a0d12 100%);
  }
  #cloudyne-roles {
    gap: 20px;
  }
  .role {
    flex: 1 1 350px;
    span {
      &:first-of-type {
        top: 10px;
        left: auto;
      }
    }
    p {
      margin-top: 20px;
    }
  }
}
@media screen and (min-width: 768px) {
  #cloudyne-wrapper {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) {
  #cloudyne div span:first-of-type {
    font-size: 49px;
    top: -15px;
  }
  #cloudyne h2 {
    font-size: 22px;
    white-space: nowrap;
  }
  #cloudyne .role span:first-of-type {
    top: -10px;
  }
}
