#design {
  position: fixed;
  display: none;
  transform: translateX(-100%);
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: $main-background;
  overflow-x: hidden;
  padding: 5px 0px;
  animation: slideLeft 0.5s ease-out 0s forwards;
  #close-design {
    cursor: pointer;
    font-variant: small-caps;
    text-align: center;
  }
  #design-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }
  #mobileMenu {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(70, 113, 128, 0.05);
    font-variant: small-caps;
    padding-bottom: 5px;
    cursor: pointer;
    span {
      display: block;
      width: 30px;
      height: 1px;
      border: 1px solid $blue;
      margin: 2px auto;
    }
  }
  #design-sidebar {
    position: absolute;
    color: $medium-grey;
    width: 100%;
    padding: 20px 30px 40px 30px;
    background: rgb(13, 18, 24);
    height: fit-content;
    z-index: 20;
    transform: translateY(-98%);
    &.openMenu {
      animation: showMenu 0.5s ease-out 0s forwards;
    }
    ul {
      list-style: none;

      padding: 0;
      li {
        padding-left: 20px;
        margin-bottom: 10px;
        cursor: pointer;
        font-size: 18px;
        &:hover {
          border-left: 2px solid $blue;
        }
      }
      p {
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 10px;
        opacity: 1;
        font-variant: small-caps;
        font-size: 22px;
      }
    }
  }
  #design-content {
    width: fit-content;
    padding: 3em 0.5em;
    h2 {
      font-size: 46px;
    }
    h3 {
      margin-top: 30px;
      color: $light-grey;
      font-variant: small-caps;
      letter-spacing: 3px;
      font-size: 24px;
    }
    p {
      margin: 30px 0px;
    }
    ul {
      color: $light-grey;
      opacity: 0.7;
      letter-spacing: 1px;
      list-style: none;
      padding: 0;
      margin: 15px 0;
      li {
        display: inline-block;
        margin-right: 30px;
      }
    }
  }

  .designItem {
    display: none;
    &.activeDesign {
      display: block;
    }
  }
}

@keyframes showMenu {
  from {
    transform: translateY(-98%);
  }
  to {
    transform: translateY(0%);
  }
}

@media screen and (min-width: 1440px) {
  #design #design-wrapper {
    flex-wrap: nowrap;
  }
  #design #design-sidebar {
    position: relative;
    width: fit-content;
    transform: translateY(0%);
  }
  #design #mobileMenu {
    display: none;
  }
  #design #design-content {
    padding: 0em 7.5em;
  }
}
