#experience {
  #experience-wrapper {
    row-gap: 20px;
    column-gap: 60px;
  }
  h2 {
    color: $medium-grey;
    margin-left: 2.2em;
  }
  .role {
    flex: 1 1 500px;
  }
  span {
    &:first-of-type {
      position: absolute;
      opacity: 0.5;
      font-size: 49px;
      top: 0;
    }
  }
}

@media screen and (min-width: 1440px) {
  #experience .sec-sub {
    margin-left: 4.2em;
  }
}
