header {
  position: relative;
  height: 100vh;
  margin: 0px 30px;

  #social-wrapper {
    position: absolute;
    top: 15px;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    a {
      width: fit-content;
    }
    img {
      width: 36px;
    }
    #github-icon {
      padding-bottom: 10px;
      border-bottom: 1px solid $dark-grey;
    }
    #linkedin-icon {
      padding-top: 10px;
    }
  }
  #job-titles {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 15px;
    right: 0;
    li {
      display: inline-block;
      text-transform: capitalize;
      font-variant: small-caps;
      font-size: 24px;
      color: rgba(200, 205, 208, 0.5);
      letter-spacing: 1px;
      &:nth-of-type(1) {
        padding-right: 10px;
      }
      &:nth-of-type(2) {
        padding: 0 10px;
        border-left: 1px solid $dark-grey;
        border-right: 1px solid $dark-grey;
      }
      &:nth-of-type(3) {
        padding-left: 10px;
      }
    }
  }
  #heading {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    font-variant: small-caps;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    > div {
      width: max-content;
    }
    .brackets {
      position: absolute;
      font-size: 122px;
      &:first-of-type {
        left: 60px;
      }
      &:last-of-type {
        right: 80px;
      }
    }
    h1 {
      font-size: 72px;
      letter-spacing: 6px;
      text-align: center;
      color: rgba(200, 205, 208, 0.8);
    }
    h2 {
      font-size: 20px;
      text-align: center;
      line-height: 0.5;
    }
    p {
      position: relative;
      color: $medium-grey;
      font-size: 32px;
      letter-spacing: 6px;
      width: max-content;
      cursor: pointer;
      &:first-of-type {
        left: -6em;
        color: $blue;
      }
      &:last-of-type {
        right: -6em;
        color: $blue;
      }
      &:hover {
        color: $blue;
        opacity: 1;
      }
    }
  }
  #game-menu {
    padding-top: 20px;
    float: right;
    text-align: center;
    a {
      display: inline-block;
      text-transform: capitalize;
      font-variant: small-caps;
      font-size: 16px;
      letter-spacing: 1px;
      &:first-of-type {
        padding-right: 10px;
        border-right: 1px solid $dark-grey;
      }
      &:last-of-type {
        padding-left: 10px;
      }
    }
    p {
      font-variant: small-caps;
    }
  }
}
